<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>abcde</string>
	<key>Summary</key>
	<string>qwer</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>targetView</string>
			<key>Name</key>
			<string>UIView:</string>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___View</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>targetViewController</string>
			<key>Name</key>
			<string>UIViewController:</string>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___ViewController</string>
		</dict>
	</array>
</dict>
</plist>
